body{
    margin: 0;    
    background: #000;
   
  }
*{
    text-decoration: none;
}
a{
    color:#fff;
}
li{
    list-style: none;
}
    
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;

}
#main-header{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background: rgb(231,0,255);
    background: linear-gradient(140deg, rgba(231,0,255,0.6502800949481355) 17%, rgba(190,17,17,0.7819327560125613) 89%);
    border-bottom: 2px white solid;
    height: 80px;
    color: rgba(10, 1, 6, 0.349);
}
#navbar{
   text-align: left;
   font-family: 'Titillium Web', sans-serif;}
#navbar li{
    display: inline;
    
}
#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right:25px;
    padding-left:10px;
    transition: background-color .5s;
}
#navbar a:hover{
    background: #fff;
    color:rgba(121, 28, 28, 0.822);
    height: 15px;
    
   }
#main-section{
    width: 50%; 
    padding-left:20px;
    padding-right:20px;
    color: #fff;;
    float: left;
    box-sizing: content-box;
    line-height: 1.5em; 
    align-items:initial; 
    font-family: 'Titillium Web', sans-serif;
    border-left: 2px red solid;

    
}
#main-section h2 {
    color:rgb(255, 0, 0);
}

#main-footer{
    text-align: left;
    border-top: 2px white solid;
    color: rgba(46, 18, 33, 0.897);    
    background: rgb(231,0,255);
    padding-left:20px;
    background: linear-gradient(140deg, rgba(231,0,255,0.6502800949481355) 17%, rgba(190,17,17,0.7819327560125613) 89%);    
    padding-right: 5px;
    font-family: 'Titillium Web', sans-serif;
     margin:auto;
    overflow: hidden;
    height:40px;
    padding-top:20px;
    font-size:20px;
    
  }
