body{
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
 
}

 a{
  text-decoration: none;
  color: inherit;
  }

h1,h2,h3,h4,h5,h6{
  color: red;
}


.container{
  max-width: 900px;
  text-align: center;
  
}
.indent{ 
  padding-left: 2%;
  text-align: left;
  color:#000;
  border-left: 2px red solid;
  padding-bottom: 0;

}


.indent:hover{
  color:rgba(8, 7, 7, 0.87);

}
.social-icons{
  display: inline-block;
  font-size:20px;
  width:30px;
  height:20px;
  position: relative;
}

.social-icons:hover{
  color: red;
}
.navbar-list{
  list-style:none;
  margin-bottom: 0;
}
.navbar-item{
  float:left;
  margin-left:20px;
  margin-right: 20px;
  position: relative;
  }
.button:hover{
  color: red;
}
.skills{
  text-align: center;
}
@media only screen and (max-width:549px){
  .indent{
    border: none;
    width 40px;
    padding-left: 0;
    text-align: center;
    margin-top: 30px;
  }
  .main-header{
    margin-top: 10%;

  }

}
@media only screen and (min-width:550px) {
  .main-header{
    margin-top: 25%;

  }
  

}
