.container{
    max-width: 960px;
    margin: auto;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration:none;

}
.center-all{
    text-align:center;
    align-items: center;
}.left-align{
    text-align: left;
    }
.right-align{
    text-align: right;
}
.main-section{
    margin-top:7%;
}
.my-img{
    max-width: 150px;
    max-height:150px;
    border-radius: 50%;
} 
.main-section-heading{
    text-align:center;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
}
.days{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: red;
}


.social-icons{
    display: inline-block;
    width: 40px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    color:black;
}
.social-icons:hover{
    color:red;
}
.about{
    padding:0px 90px 0px 90px;
    font-family: 'PT Sans', sans-serif;

}
@media only screen and (max-width:549px)
{
    .about{
        padding:0px 10px 0px 10px;
    }
}
.skills{
    margin-top: 20px;
    
}
.skills-heading{
    font-family: 'PT Sans', sans-serif;
    font-size:20px;
    padding-bottom:5px;

}
.skills-div{
    display:flex;
    flex-wrap: wrap;
}
.skill-icon{
    font-size: 50px;
}